In [ ]:
#f) Describe the data set after renaming the dataset.
#g) apply normalization to the all column except the Species column

#Consider the given dataset  StudentsPerformanceTest1
#1. Check that is there any missing values in dataframe as a whole
#2. is there any missing values across each column
#3. count of missing values across each column
#4. count row wise missing value
#5. count of missing values of a  gender  column.
#6.  groupby count of missing values of a column , consider column gender and score
#7. replace the missing value  of score column with average value of the column

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/StudentsPerformanceTest1.csv')
df

,gender,math score,reading score,writing score,Placement Score,placement offer count,Region
0,female,72,72,74.0,78.0,1,Pune
1,female,69,90,88.0,NaN,2,na
2,female,90,95,93.0,74.0,2,Nashik
3,male,47,57,NaN,78.0,1,Na
4,male,na,78,75.0,81.0,3,Pune
5,female,71,Na,78.0,70.0,4,na
6,male,12,44,52.0,12.0,2,Nashik
7,male,NaN,65,67.0,49.0,1,Pune
8,male,5,77,89.0,55.0,0,NaN

In [ ]:
df.isnull().values.any()

np.True_

In [ ]:
 df.isnull().any()

gender                   False
math score                True
reading score            False
writing score             True
Placement Score           True
placement offer count    False
Region                    True
dtype: bool

In [ ]:
 df.isnull().sum()

gender                   0
math score               1
reading score            0
writing score            1
Placement Score          1
placement offer count    0
Region                   1
dtype: int64

In [ ]:
 df.isnull().sum(axis=1)

0    0
1    1
2    0
3    1
4    0
5    0
6    0
7    1
8    1
dtype: int64

In [ ]:
df['gender'].isnull().sum()

np.int64(0)

In [ ]:
 df[df['Placement Score'].isnull()].groupby('gender')['Placement Score'].count()

gender
female    0
Name: Placement Score, dtype: int64

In [ ]:
mean_score = df['Placement Score'].mean(skipna=True)
df['Placement Score'].fillna(mean_score, inplace=True)
df

<ipython-input-21-4135673a789b>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Placement Score'].fillna(mean_score, inplace=True)

,gender,math score,reading score,writing score,Placement Score,placement offer count,Region
0,female,72,72,74.0,78.000,1,Pune
1,female,69,90,88.0,62.125,2,na
2,female,90,95,93.0,74.000,2,Nashik
3,male,47,57,NaN,78.000,1,Na
4,male,na,78,75.0,81.000,3,Pune
5,female,71,Na,78.0,70.000,4,na
6,male,12,44,52.0,12.000,2,Nashik
7,male,NaN,65,67.0,49.000,1,Pune
8,male,5,77,89.0,55.000,0,NaN